.floating {
	background-color: gray;
	font-size : 8px;
	position: fixed;
	right: 10px;
	bottom: 100px;
	width: 180px;
}

.start_button {
	position: static;
	width: 100%;
}

.bpm {
	position: static;
}

.bpm_rate {
	position: static;
}
