.floating {
	background-color: gray;
	font-size : 2px;
	position: fixed;
	right: 1px;
	bottom: 1px;
	width: 180px;
	transform:scale(calc(2/var(--zoom)));
	transform-origin: bottom right;
}

.spacer {
	position: static;
	height: 100vh;
}

.three_count {
	position: fixed;
	font-size: 100px;
	right: 1px;
	top: 1px;
	transform:scale(calc(2/var(--zoom)));
	transform-origin: top right;
}

.start_button {
	position: static;
	font-size: 2px;
	width: 100%;
}

.gui_textbox {
	position: static;
	font-size: 2px;
	width: 50px;
}

.gui_div {
	position: static;
	font-size: 2px;
}

.gui_input {
	font-size: 2px;
}
